<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Error 404</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
    <h1>You did not input a valid field. </h1>
    Either your username does not exist or an invalid pokemon was input.<br>
    If you tried adding to or changing the database, you were blocked from doing so. <br><br>
    <a href="/">HOME</a>
</body>

</html>