<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Change Favorite</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
    <h1>Change your favorite pokemon</h1>
    <form action="/changedUser" method="post">
        Username:<input type="text" name="user"><br><br>
        Pokemon:<input type="text" name="changedpokemon"><br><br>
        <input type="submit"><br>
    </form>
    <br>
    <a href="/">HOME</a>
</body>

</html>
