<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Pokemon Viewer</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
    <h1>Welcome to PokemonViewer</h1>

    <form action="/viewPokemon" method="post">
        <h2>Search a Pokemon:</h2><input type="text" name="pokemon">  <input type="submit">
    </form>
    <br>
    <a href="/savedPokemon">Store your username and favorite pokemon</a> <br>
    <a href="/viewFavorite">Check your favorite pokemon</a> <br>
    <a href="/changeFavorite">Change your favorite pokemon</a>
</body>

</html>