<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Saved User</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
    <h1>Your name is <%- name %> and your favorite pokemon is <%- pokemon %></h1>
    Your information has been stored! <br><br>
    <a href="/">HOME</a>
</body>

</html>
