<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Saved Pokemon</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
    <h1>Add your name and favorite pokemon to our database!</h1>
    <form action="/savedUser" method="post">
        Username:<input type="text" name="user"><br><br>
        Pokemon:<input type="text" name="favoritepokemon"><br><br>
        <input type="submit"><br>
    </form>
    <br>
    <a href="/">HOME</a>
</body>

</html>
